@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');



body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:  'Montserrat',sans-serif;
	color: #FFF;
}

.wrapper{
	display: flex;
	flex-direction: column;
}

.navbar{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background: #222;
	position: fixed;
	z-index: 999;
}

nav{
	display: flex;
	flex-direction: row;
	width: 61%;
	justify-content: space-between;
	max-height: 340px;
}

nav h2{
	color: #FFF;
	font-family: cursive;
	color: #5bb12f;
	font-size: 1.5em;
	font-family: 'Kaushan Script', cursive;
	font-weight: 100
}

nav .links{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	widows: 100%;
	justify-content: space-around;
	padding: 2px;
	align-self: center
}

nav .links a{
		text-transform: uppercase;
    font-family: 'Montserrat',sans-serif;
		font-weight: 400;
		text-decoration: none;
    letter-spacing: 1px;
    color: #fff;
		font-size: 12px;
		padding: 15px;
		font-weight: 600
}

nav .links a:hover{
	color: #5bb12f
}
/* /* ----------------------------------------------------------HEADER *-------------------------------------/ */
header{
	min-height: 700px;
	background: url("http://demo.themefisher.com/themefisher/fame/images//galaxy.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header .info{
	width: 41%
}

header .info h1{
	font-size: 68px;
	font-family: 'Oswald', sans-serif;
	font-weight: 800;
	text-align: center;
	margin: 20px 0px 26px 0px;
	letter-spacing: 5px;
}

header .info h1 span{
	color: #5bb12f
}

header .info p{
	font-size: 30px;
font-weight: 300;
line-height: 35px;
letter-spacing: 1px;
margin-bottom: 55px;
color: #fff;
text-align: center;
}

header  button{
	padding: 10px 40px;
	font-size: 20px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	text-transform: uppercase;
	line-height: 28px;
	font-weight: 300;
	border: 0;
	-moz-transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
	font-family: 'Open Sans', sans-serif;
}

button.get-now{
	background: #5BB12F;
	color: #fff;
	border: 1px solid #5BB12F;
	font-weight: 200;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}
button.get-now:hover{
	background: transparent;
	border: 1px solid #fff
}
button.live-demo{
	background: #ECECEC;
	color: #000;
	border: 1px solid #ECECEC
}
button.live-demo:hover{
	background: #000;
	color: #fff;
	border: 1px solid #000
}

/* ==============================================================FEATURE--------------------- */
.features{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background: #FFF;
	color: #444;
	justify-content: center;
	padding-top: 80px
}
.features .feature{
	width: 15%;
	font-size: 13px;
	text-align: center;
	padding: 0px 15px 80px 15px
}

.features .feature .title{
	font-size: 15px;
	font-family: 'Oswald', sans-serif;
	font-weight: lighter
}
.features .feature .desc{
	line-height: 20px;
}

.features .feature i{
	background: #5BB12F;
	color: #fff;
	padding: 25px
}

/* ---------------------------------------------------Random text div --------------------------------*/

.random-text{
	padding: 80px 0px;
	background-image: url("http://demo.themefisher.com/themefisher/fame/images/parallax/call-to.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: center;
}

.random-text div{
	width: 1170px !important;
	text-align: center
}
.random-text div button{
	padding: 20px;
	font-size: 16px;
	border-color: #5BB12F;
	background-color: #5BB12F;
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #fff;
	border-radius: 3px;
	transition: all 0.3s;
	text-align: center;
	border: 1px solid #5BB12F
}

.random-text div button:hover{
	background: transparent;
	border: 1px solid red
}

.random-text div h1{
	margin: 20px 0px 0px 10px;
	padding-bottom:40px;
	font-weight: 300;
  line-height: 50px;
	font-size: 30px;

};

#contact-form{
	background: #5BB12F !important
}

/* ----------------------------------------------------CONTACT------------------------------------------------ */

#contact{
	display: flex;;
	flex-direction: column;
	padding-top: 60px;
	background: url("http://demo.themefisher.com/themefisher/fame/images/parallax/contact-bg.jpg");
	background-size: cover;
	background-position: center;
	align-items: center;
}

#contact .info{
	text-align: center;
	margin-bottom: 57px;

}

.info h2{
	font-size: 28px;
	margin-bottom: 6px;
	font-family: 'Oswald', sans-serif;
}

.info p{
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	margin: 0px

}
#contact form{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%
}

#contact form input{
	height: auto;
	font-size: 14px;
	width: 90%;
	border-radius: 3px;
	padding: 5px;
	border-style: none;
	border: 1px solid #CCC;
	padding: 20px;
	border-radius:4px;
	line-height: 1.42857143;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	color: #555;
	font-family: 'Open Sans', sans-serif;
}

#contact input.mb{
	margin-bottom: 24px;
}

#contact form .left{
	width: 30%;
	height: 100%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
	padding: 11px;

}

#contact form .right{
	width: 30%;
	height: 100%;
	margin-right: 10px;
	padding: 11px
}

#contact form textarea{
	width: 90%;
	height: 192px;
	padding: 20px;
	border-radius:4px;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	color: #555
}

#contact .send-button{
	width: 169px;
	height: 64px;
	margin: 38px auto 40px auto;
	border-color: #5BB12F;
	background-color: #5BB12F;
	line-height: 1.42857143;
	border: none;
	color: white;
	padding: 20px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}

#contact .send-button:hover{
	background: transparent;
	border: 1px solid #ff0000
}
/* ------------------------------------------------PORTFOLIO____________________________ */
.portfolio{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	color: #000;
	padding-top: 80px;
  padding-bottom: 120px;
  background: #f7f7f7;
}

.portfolio h3{
	color: #666;
	font-size: 28px;
	font-family: 'Oswald', sans-serif;
	text-transform: none;
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: bold;
	line-height: 1.1;
	text-align: center
}

.portfolio p{
	padding-bottom: 60px;
	margin-bottom: 10px;
	color: #999;
	margin-top: 12px
}


.portfolio-wrapper{
	width: 1170px;
	box-sizing: border-box;
	padding: 0px 15px;
}

.portfolio-wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center
}
.portfolio-wrapper .portfolio-image{
	max-width: 33.33%;
	max-height: 303.688px;
	height: 390px;
	position: relative;
	overflow: hidden;
}
.portfolio-wrapper .portfolio-image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 0.7s ease-in-out;
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-ms-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	transform-origin: center;
}

.portfolio-image .overlap{
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	color: #FFF;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.3s;;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.overlap h4{
	text-transform: uppercase;
	color: #777;
	font-weight: 400;
	text-align: center;
	font-size: 18px;
	padding: 10px;
	background: #fff;
	font-family: 'Oswald', sans-serif;
}

.overlap i{
	color: #5BB12F;
	background: #FFF;
	border-radius: 50%;
	padding: 20px;
	font-size: 20px;
	margin: 10px;
}

.portfolio-image:hover > .overlap{
	display: flex;
	background: rgba(91, 177, 47, 0.8)
}
.portfolio-image:hover img{
	transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
}

/* -----------------------------------skill----------------------------------- */

.skills{
	background: #fbfbfb
}

.skill-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: #666;
	width: 1170px;
	margin: auto;
	height: 375px;
	padding: 70px 0px 90px 0px;
}

.skill-wrapper .progess-wrapper{
	width: 48%;
	padding: 0px 55px;
}
.skill-wrapper .progess-wrapper p{
	font-size: 13px;
	font-family: "Open Sans", sans-serif;
	margin: 10px 0px
}

.skill-wrapper .skill-image{
	width: 48%;
	padding: 0px 15px;
	margin-left: -10px;
}

.skill-wrapper .skill-image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.skill-wrapper .progress{
	background: #5BB12F;
	padding: 15px;
	position: relative;
}

.skill-wrapper .progress span{
	padding: 12px 15px;
	background: #ACB2B8;
	color: #fff;
	position: absolute;
	top: -15%;
	right: 0;
	font-size: 12px;
	font-family: "Open Sans", sans-serif
}

/* --------------------------services------------------ */

.services{
	color: #000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	padding: 80px 0px 20px 0px

}

.service-text{
	text-align: center;
	padding-bottom: 70px;
}

.service-text h2{
	font-size: 28px;
	font-family: "Oswald",sans-serif;
	color: #666;
	margin: 20px 0px 8px
}

.service-text p{
	font-size: 18px;
	font-family: "Open Sans",sans-serif;
	color: #666;
	margin: 0px;
	font-weight: lighter
}


.services .service-desc{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 1170px;
	flex-wrap: wrap
}

.service{
	display: flex;
	flex-direction: row;
	width: 33%;
	height: 100px;
	padding-bottom: 80px
}
.service i{
font-size: 30px;
background: #5bb12f;
color: #fff;
padding: 20px;
margin-top: 17px;
}

.service-info{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 10px
}
.service-info h4{
	margin: 0px;
	font-size: 15px;
	font-family: "Oswald",sans-serif;
	font-weight: 100;
	color: #666
}
.service-info p{
	margin: 0px;
	font-size: 13px;
	font-family: "Open Sans", sans-serif
}


/* ------------------------------------counter----------- */

.counter{
	color: #5BB12F;
	padding-top: 120px;
	padding-bottom: 80px;
	display: flex;
	justify-content: center;
	background: linear-gradient(#000000ab,#000000ab),url("https://images.unsplash.com/photo-1561900478-5001f6b4d8ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80")
}

.counter .item{
	padding: 35px 75px;
	text-align: center;
	margin: 14px;
	background: #0000008f
}
.counter .item h3{
	font-size: 43px;
	font-family: sans-serif;
	margin: 10px
}
.counter .item h5{
	color:#FFF;
	margin: 10px;
	font-size: 14px;
	font-family: "Open Sans", sans-serif
}


/* -----------------------------team----------------- */

.team{
	color: #666;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 71px 0px 125px
}
.team .info{
	margin-bottom: 70px;
	text-align: center;
}
.team .info h3{
	font-size: 28px;
	font-family: "Oswald",sans-serif;
	margin: 0;
}
.team .info p{
	font-family: "Open Sans",sans-serif;
	font-size: 18px;
	margin: 8px 0px;
	color: #999

}

.team .team-members{
	width: 1170px;
	display: flex;
}
.team .team-members .member{
	width: 25%;
	height: 280px;
	padding: 1px;
}
.team .team-members .member img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* ------------------------------pricing--------------- */
.pricing{
	color: #FFF;
	background: linear-gradient(#000000a6, #000000a6),url("https://images.pexels.com/photos/2085998/pexels-photo-2085998.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	background-position: center;
	background-size: cover;
	padding: 71px 0px 125px;
	text-align: center;
}

.pricing .info{
	margin-bottom: 60px;
	padding-top: 20px;
}
.pricing .info h3{
	font-size: 28px;
	font-family: "Owsald", sans-serif !important;
	margin: 0px 5px;
}
.pricing .info p{
	font-size: 18px;
	font-family: "Open Sans", sans-serif;
	margin: 5px 7px;
	font-weight: lighter;
}

.price-card{
	width: 14%;
	text-align: center;
	box-sizing: border-box;
	background-color: #FFF;
	color: #666;
	margin: 0px 16px;
}

.pricing .cards{
	display: flex;
	justify-content: center
}

.price-card .catg{
	width: 100%;
	background: #5bb12f;
	color: #fff;
	padding: 10px 15px;
	box-sizing: border-box;
}
.price-card .catg h2{
	font-weight: 400;
	font-family: "Open Sans",sans-serif;
}


.price-card .plan-price{
	width: 100%;
}
.price-card .plan-price .price-value{
	font-size: 38px;
	font-family: "Open Sans", sans-serif;
	margin: 4px;
	color: #444444;
	font-weight: 600;
	padding: 25px 0px;
}
.plan-price .price-value span{
	font-size: 14px;
	display: block;
	font-family: "Open Sans", sans-serif;
	margin: 0px
}

.plan-price .fc {
	border-top: 1px solid #eee;
}

.plan-price > p{
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	padding: 13px;
	margin: 0px;
	border-bottom: 1px solid #eee;
	color: #333
}

.plan-price button{
	width: 100%;
	height: 64px;
	background-color: #5bb12f;
	color: #FFF;
	border: none;
	font-size: 14px
}


/* -----------------------------------news------------------------- */

.news-wrapper{
	color: #666;
	padding: 80px 60px;
}

.news-wrapper .info{
	text-align: center;
	padding: 0px 0px 50px;
}
.news-wrapper .info h3{
	font-family: "Oswald",sans-serif;
	font-size: 28px;
	margin: 20px 0px 10px
}
.news-wrapper .info p{
	font-family: "Open Sans",sans-serif;
	font-size: 18px;
	margin: 0px 0px 10px;
	color: #999
}

.news-wrapper .news-cards{
	width: 1170px;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}

.news-cards .card{
	width: 33%;
	text-align: left;
	padding: 15px;
	box-sizing: border-box
}
.news-cards .card-image img{
	width: 100%;
	height: 100%;
}
.news-cards .card h4{
	font-size: 18px;
	font-family: "Open Sans", sans-serif;
	margin: 10px 0px;
	color: #5bb12f;
	font-weight: 550;
}
.news-cards .card p{
	font-size: 13px;
	font-family: "Open Sans", sans-serif;
	margin: 0px 0px 10px 0px;
	color: #999;
	padding: 0px 0px 10px 0px;
	font-weight: 550;
	line-height: 21px;
}

.news-cards button{
	background: #5BB12F;
	color: #fff;
	padding: 6px 12px;
	font-size: 14px;
	border: none;
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase
}

/* ---------------------------------------------about us--------------------- */
.about-us-wrapper{
	color: #666666;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 75px;
	padding-bottom: 75px;
	text-align: center

}

.about-us-wrapper .about-info{
	text-align: center;
	margin-bottom: 60PX;
	font-family: 'Oswald', sans-serif;
	margin-bottom: 59px;

}

.about-us-wrapper .about-info h2{
	margin-bottom: 5PX;
	font-size: 28px;
	color: #666;
	font-weight: 600
}
.about-us-wrapper .about-info P{
	margin: 0px 3px;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	color: #999;
	font-weight: lighter
}

.about-items {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 1170px;
}

.about-items .item{
	width: 33.33%;
	padding: 0px 15px;
	font-family: 'Open Sans', sans-serif;
}
.about-items .item h2{
	font-size: 16px !important;
	color: #666;
	font-weight: 500;
	transition: color 0.3s ease-in-out;
	-webkit-transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
	-ms-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
}
.about-items .item p{
	font-size: 13px;
	color: #999;
	padding-right: 10px;
  padding-left: 10px;
}
.about-items .item img{
	width: 100%;
	height: auto
}
.about-items .item hr{
	width: 10%;
	height: 1px;
	background: #666;
	transition: width 0.3s ease-in-out;
	-webkit-transition: width 0.3s ease-in-out;
	-moz-transition: width 0.3s ease-in-out;
	-ms-transition: width 0.3s ease-in-out;
	-o-transition: width 0.3s ease-in-out;
}

.item:hover .item-heading{
	color: #5BB12F;
	
}
.item:hover hr{
	width: 22%;
	background: #5BB12F
}